{% include 'psychology_website/partials/head.html' %}

<body>
    <header>
            <ul id="menu-h">
                <li><a href="https:\\www.google.com">Home</a></li>
                <li><a href="https:\\www.google.com">Sobre</a></li>
                <li><a href="https:\\www.google.com">Quem Somos?</a></li>
                <li><a href="https:\\www.google.com">Contato</a></li>
                <li><a href="https:\\www.google.com">Entrar</a></li>
            </ul>
    </header>

    <section id="topo">
        <div id="titulo">
            <h1>Ansiedade no trabalho:<br> quais são as causas e como<br> ajudar a sua equipe</h1>
        </div>
        <div id="imagem">
            
        </div>
    </section>

    <main>
        

        <h2>O que caracteriza os transtornos de ansiedade</h2>
        <p>
            A ansiedade e os transtornos de ansiedade são um conjunto de doenças psiquiátricas marcadas pela preocupação excessiva ou constante de que algo negativo vai acontecer. Em especial durante as crises de
            as pessoas não conseguem se ater ao presente e sentem uma grande tensão, às vezes sem um motivo aparente. Esse problema pode manifestar <strong>Sintomas fisicos</strong>, como:
        </p>

        <ul>
            <li>Fadiga;</li>
            <li>Tremores</li>
            <li>Coração acelerado;</li>
            <li>Náuseas;</li>
            <li>Busca incessante por resultados.</li>
            <li>Sensação de pressão ou aperto no peito;</li>
            <li>Dificuldade de engolir ("bolo na garganta"), por espasmo do esofagiano.</li>
        </ul>

        <p>Além dos sintomas fisicos, pessoas com ansiedade podem apresentar os seguintes <strong>Sintomas mentais</strong>:</p>

        <ul>
            <li>Medo e preocupação execessiva;</li>
            <li>Irritabilidade</li>
            <li>Formigamento;</li>
            <li>Desânimo, desinteresse;</li>
            <li>Alterações no sono.</li>
        </ul>

        <h2>Quais são as principais causas da ansiedade no ambiente corporativo?</h2>
        <P>
            A ansiedade no ambiente corporativo pode surgir por diversos motivos. Uma pesquisa realizada em 13 países
            pela Robert Half, empresa de recrutamento e seleção, apontou que o excesso de tarefas e a falta de reconhe-
            cimento são os principais causadores.    
        </P>
        <p>
            Os colaboradores que têm uma carga de trabalho excessiva podem desenvolver o transtorno de ansiedade,
            porque possuem tarefas demais e não conseguem cumpri-las. Assim, se preocupam, desenvolvem medo e
            insegurança, ficam angustiados com a possibilidade de serem demitidos e com a autoestima baixa.
        </p>
        <p>
            O mesmo ocorre com os colaboradores que se sentem desvalorizados. Eles desenvolvem uma apreensão continua, se sen-
            tem desmotivados e insatisfeitos. Outros fatores que podem provocar ansiedade são:
        </p>

        <ul>
            <li>Preocupação demasiada;</li>
            <li>Excesso de responsabilidade;</li>
            <li>Prazos curtos e inadequados a serem cumpridos;</li>
            <li>Metas intangíveis a serem batidas;</li>
            <li>Busca incessante por resultados.</li>
        </ul>

        <h2>Como posso ajudar minha equipe a superar a ansiedade?</h2>
        <p>
            Já vimos a gravidade do problema e como ele afeta os colaboradores e a empresa. Da mesma forma que a ansiedade pode
            surgir no ambiente laboral, ela também pode ser tratada nele. Para tratar e reverter o quadro de colaboradores ansiosos
            é importante que a empresa invista em bem-estar corporativo. Veja algumas atividades que são efetivas nesse sentido:
        </p>
        <ul>
            <li>Yoga: com exercícios de respiração, meditação e alongamentos, a yoga ajuda a controlar a ansiedade, liberar tensões e manter a mente mais calma.</li><br>
            <li>Atividade física: os exercícios físicos aumentam a liberação dos hormônios serotonina e dopamina que trazem uma sensação de tranquilidade, bom humor
                e bem-estar. A empresa pode montar uma dentro de seu espaço para os seus colaboradores, formar grupos de corrida e caminhada com o acompanhamento<br>
                de profissionais ou até mesmo ofertar aulas de dança.</li><br>
            <li>Palestras sobre o tema: a ansiedade, muitas vezes, é renegada por quem sofre deste mal por ser classificada como um distúrbio psicológico, havendo preconceito e desconhecimento sobre os sintomas,
                as consequências e as formas de tratamento. Assim, promover palestras de conscientização irá encorajar os colaboradores a se cuidarem.</li><br>
            <li>Quick massage: ajuda a equipe a relaxar, liberar as tensões e cuidar da saúde osteomuscular. Com atendimentos
                rápidos, de 8 a 10 minutos, a atividade revigora, aumenta a disposição e interrompe a monotonia do ambiente de trabalho.</li>
        </ul>

        <h2>Relato sobre a ansiedade no ambiente empresarial e como lidar</h2>
        <div id="video">
            <iframe
                width="560"
                height="315"
                src="https://www.youtube.com/embed/cXDmuE5bFns"
                title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen>
            </iframe>
        </div>
    </main>
<!--
    <aside>
        <nav>
            <br>
            <img src="files//pngwing.com (32).png" 
            alt="escute aqui"
            title="escute aqui"
            height="110px"
            width="275">
            <h4>Para ouvir mais sobre o assunto basta<a href="https://open.spotify.com/episode/3D2kGqGlWP1NTFWD6LyXqO?si=69921d0283b64efa&nd=1"> clicar aqui.</a></h4>
        </nav><br>
        <h4>leia também: <a href="https://www.vittude.com/empresas/ansiedade-no-trabalho#:~:text=Entre%20os%20principais%20gatilhos%20que%20podem%20ocasionar%20a,sobrecarga%20de%20horas%20de%20trabalho%3B%206%20instabilidades%20econ%C3%B4micas.">Como a empresa pode ajudar?</a></h4>
        <br><br><img src="files//whatsapp_icon_512.png" alt=""
        height="50">
        <img src="files//facebook_512.png" alt=""
        height="50"
        margin="10">
    </aside>
-->
    <footer>
        <p>
            Se você leu até aqui, <strong>Parabéns</strong>! Isso mostra o quanto você se preocupa com a sua equipe. Continue assim! <br>
            Agora é com você, nos mostre o conhecimento que obteve até aqui.
            Para isso acesso nosso questionário clicando <a href="https://docs.google.com/forms/d/e/1FAIpQLSdxAMfrLNZas20szZpH2CD87OZ1Xx9Bh0lUfoLofackB70C0g/viewform"><strong>aqui</strong></a>
        </p>
        <p>
            <strong>Se você acertou todas <a href="https://www.soescola.com/wp-content/uploads/2020/05/C%C3%A9dulas-de-100-reais-para-imprimir.jpg">clicque aqui</a> para receber sua recompensa</strong>
        </p>
        <p id="final">
            Site feito por Christian Marinho, Logan Cardoso, Victor Hugo para a disciplina de psiclogia da UFPA
        </p>
    </footer>
</body>
</html>